# Dependencias
**/node_modules/
**/venv/
**/__pycache__/

# Variables de entorno (claves API, secretos)
.env

# Archivos de compilación y caché
.expo/
dist/
web-build/
*.tsbuildinfo
.metro-health-check*

# Base de datos local y backups
*.sql
!init.sql

# Docker (volúmenes)
**/postgres_data/

# Sistema operativo
.DS_Store
